@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Nunito&family=Open+Sans&family=Quattrocento:wght@400;700&family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0a0b1a;
  cursor: url("./Assets/Cursor/cursor1.png"), auto;
}
.pointerCursor {
  cursor: url("./Assets/Cursor/pointer1.png"), auto !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #959595;
}
.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 1.7rem;

}
.roundLabels:hover {
  border: 1px solid #dd4cac !important;
}
.LabelWrapper {
  position: relative;
  top: 8rem;
}
.Hero {
  background-image: url(./Assets//Images/Hero.png);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  -webkit-box-shadow: inset 1px 1px 2px #e0e0e0;
  border: 1px solid #d8d8d8;
}

::-webkit-scrollbar-thumb {
  background: #0259eb;
  /* background: #646464; */
  -webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);
}
::-webkit-scrollbar-thumb:hover {
  background: #5a96ff;
}
::-webkit-scrollbar-thumb:active {
  background: #a7c7ff;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }
  .Hero{
    background-position: -50rem center
  }
  .LabelWrapper {
    top: 19rem;
  }
}
