@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Nunito&family=Open+Sans&family=Quattrocento:wght@400;700&family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0A0B1A;
}

.roundLabels:hover{
border: 1px solid #DD4CAC !important;
}

::-webkit-scrollbar {
    width: 7px;
    }
    ::-webkit-scrollbar-track {
    background: #FFFFFF;
    -webkit-box-shadow: inset 1px 1px 2px #E0E0E0;
    border: 1px solid #D8D8D8;
    }

    ::-webkit-scrollbar-thumb {
    background: #0259EB;
    /* background: #646464; */
    -webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);
    }
    ::-webkit-scrollbar-thumb:hover {
    background: #5a96ff;
    }
    ::-webkit-scrollbar-thumb:active {
    background: #a7c7ff;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
    }


@media screen and (max-width:1200px) {
    html{
        font-size: 15px;
    }
}
@media screen and (max-width:900px) {
    html{
        font-size: 14px;
    }
}
@media screen and (max-width:600px) {
    html{
        font-size: 13px;
    }
}
@media screen and (max-width:400px) {
    html{
        font-size: 12px;
    }
}